html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  color: #ABACCE;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background-color: #090A3B;
}

.container {
  min-height: 100%;
}

.timeline {
  min-height: 100%;
}

.timespan {
  position: absolute;
  min-height: 100%;
  font-size: 18px;
}

.timebar {
  opacity: 0.5;
  background-color: #7E81B1;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.event:hover .timebar {
  opacity: 1;
}

.year {
  position: absolute;
  min-height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px dashed #191A57;
  padding-left: 10px;
  padding-top: 10px;
  white-space: nowrap;
}

.events {
  position: relative;
  padding-top: 60px;
  padding-bottom: 140px;
  background-color: rgba(0,0,0,0.5);
}

.event {
  white-space: nowrap;
}

.event p {
  font-size: 14px;
}

.event-name {
  color: #fff;
}

.event-location {
  color: rgba(84,86,147,1);
}

.banner {
  position: fixed;
  bottom: 30px;
  left: 30px;
  margin: 5px;
  padding: 15px;
  background-color: rgba(17,54,80,0.5);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.banner a {
  text-decoration: none;
  color: #7E81B1;
}

.banner-title {
  margin: 0 0 10px 0;
}
